{% extends "base.html" %}

{% block content %}

    <div>
       <h1> Add Car </h1>
        <h2> Add new car in Database </h2>
       <form action="" method="post" >
           {% csrf_token %}
           <div class="form-group" >
               <label for="brand" > Brand: </label>
               <input class="form-control" type="text" id="brand" name="brand">
           </div>

            <div class="form-group" >
               <label for="year" > Year: </label>
               <input class="form-control" type="text" is="year" name="year" >
           </div>
           <input class="btn btn-primary" type="submit" >

       </form>

    </div>



{% endblock %}
