{% extends "base.html" %}

{% block content %}

    <div class="container">
       <h1> Delete Car </h1>
        <h2> Enter Pk to delete car </h2>
       <form action="" method="post" >
            {% csrf_token %}
           <div class="form-group" >
               <label for="pk" > PK number: </label>
               <input class="form-control" type="text" id="pk" name="pk">
           </div>
           <input class="btn btn-primary" type="submit" >
       </form>

    </div>

{% endblock %}