{% extends "base.html" %}

{% block content %}

    <div class="container">
      <h1> List Car : </h1>
      <ul>
         {% for car in all_cars %}
            <li> {{car}} </li>
         {% endfor %}
     </ul>
  </div>


{% endblock %}