
{% extends "base.html" %}

{% block content %}

    <h2> rental_review </h2>
    <div class="container myform">
        <form action="" method="post" >
        {% csrf_token %}
         {% for field in form %}
           <div class="mb-3" >
             {{ field.label_tag }}
           </div>
           {{ field }}
           {{ field.errors }}
         {% endfor %}
     <input class="btn btn-primary" type="submit" >

    </form>
    </div>

{% endblock %}