<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   {% if form.errors %}
     <p> your username or password was incorrect. try again </p>
   {% endif %}
    {% if next %}
         {% if user.is_authenticated %}
           <p> you dont have permission for this page </p>
         {% else %}
             <p> please login to see this page </p>
         {% endif %}

   {% endif %}
   <form method="post" action="{% url "login" %}" >
       {% csrf_token %}
       {{ form.username.label_tag }}
       {{ form.username }}

       {{ form.password.label_tag }}
       {{ form.password }}
    <input class="btn btn-primary" type="submit" value="login" >
   </form>
</body>
</html>